{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row" id="app">
            <div class="col">
                <h3 class="d-flex justify-content-start align-items-center"><span class="material-icons me-2">person</span>  Couleurs Custom :</h3>

                <span class="badge bg-custom-blue" id="badge-blue">Blue</span>
                <span class="badge bg-custom-orange">Orange</span>
                <span class="badge bg-custom-green">Green</span>
                <span class="badge bg-custom-dark-blue">Dark blue</span>
                <span class="badge bg-custom-black">Black</span>
                <span class="badge bg-custom-gray">Gray</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
