{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="card border-0 shadow">
            <div class="card-body p-4">
                <h1 class="d-flex justify-content-start align-items-center"><span class="material-icons-outlined me-2">edit</span> Modifier la session</h1>

                {{ include('session/_form.html.twig') }}
            </div>
        </div>
    </div>
{#    {{ include('session/_delete_form.html.twig') }}#}
{% endblock %}
