{% extends 'base.html.twig' %}

{% block title %}Nouvelle Session{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Ajouter une nouvelle session</h1>

        {{ include('session/_form.html.twig') }}
    </div>
{% endblock %}
