{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="card border-0 shadow">
            <div class="card-body p-4">
                {{ include('user/_userHeader.html.twig') }}

                <hr>

                <h3 class="d-flex justify-content-start align-items-center"><span class="material-icons-outlined me-2">info</span> Mes informations</h3>

                {% if type == 'edit' %}{% set editable = false %}{% else %}{% set editable = true %}{% endif %}
                {{ include('user/_formProfil.html.twig', {'editable': editable}) }}
            </div>
        </div>
    </div>
{% endblock %}
